body {
  font-family: $fontMain;
  background-color: $colorWhite;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;

  &.hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

label,
textarea,
input {
  -webkit-appearance: none;
  font-family: $fontMain;
  @include border-radius(0);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }
}

.logo {
  position: relative;
  transition: opacity 0.3s;
  width: 108px;
  height: 36px;
  @include invisLink;

  &:hover {
    opacity: 0.75;
  }

  picture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.main {
  width: 100%;
  padding-top: 68px;
}

.input-item {
  position: relative;

  %stylesInput {
    border: 0;
    background: transparent;
    width: 100%;
    height: 34px;
    border: 1px solid $colorBlack;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $colorBlack;
    border-radius: 0;
    padding: 0;
    padding-bottom: 10px;

    &::placeholder {
      opacity: 1;
      text-transform: none;
      color: rgba(0, 0, 0, 0.48);
    }
  }

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #80726a;
    display: block;
  }

  textarea {
    @extend %stylesInput;
  }

  input {
    @extend %stylesInput;

    & + input {
      margin-top: 24px;
    }
  }

  .icon {
    position: absolute;
    bottom: 9px;
    right: 1px;

    svg {
      color: $colorBlack;
      fill: $colorBlack;
    }
  }
}

.check-block {
  display: flex;
  align-items: center;
  min-height: 24px;

  input {
    display: none;

    &:checked {
      & + label {
        &::after {
          background-color: $colorBlack;
        }
      }
    }

    &:disabled {
      & + label {
        opacity: 0.33;
        pointer-events: none;
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 38px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $colorBlack;
    display: block;
    text-align: left;
    @include transition(color 0.3s);
    width: 100%;

    @include before {
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
      border: solid 1px rgba(0, 0, 0, 0.48);
      border-radius: 3px;
    }

    @include after {
      top: 50%;
      left: 5px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      border-radius: 2px;
    }
  }

  a {
    text-decoration: underline;
    @include transition(text-decoration 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 47px;
  width: 100%;
  @include border-radius(0);

  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    padding: 10px 0;
    padding-right: 15px;
    margin: 0;
    color: $colorBlack;
  }

  .button {
    width: 48px;
    height: 100%;
    background: transparent;
    display: flex;
    background-image: url("../img/arrow_bottom.svg");
    background-position: center;
    background-repeat: no-repeat;
    @include transition(all 0.3s);

    &::after {
      display: none;
    }
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        @include transform(scale(1, -1));
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 1px solid $colorBlack;
  overflow: hidden;
  @include border-radius(16px);
  @include box-shadow(none);
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;
  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 8px;
      @include transition(all 0.3s);

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }
      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

// modals base

.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: block;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.modal__content {
  padding: 0;
  margin: 0;

  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.modal__close {
  @include transition(all 0.3s);
  position: absolute;
  right: 100px;
  top: 27px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  gap: 11px;

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      @include border-radius(10px);
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      @include border-radius(10px);
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      @include border-radius(10px);
    }
  }
}

.modal__inner {
  background-color: $colorWhite;
  margin: 0 auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0;

  @include before {
    width: 100%;
    height: 64px;
    background-color: $colorYellow;
  }
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.selectric-open {
  z-index: 4;
}

div {
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    @include border-radius(10px);
  }

  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;
}

.swiper-pagination {
  z-index: 5;
}

.swiper-pagination-bullets {
  bottom: 8px !important;
  top: auto !important;
  left: 0;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 16px;
  z-index: 5;
  padding: 0 16px;

  .swiper-pagination-bullet {
    width: 8px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
    flex: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
  }
}

.swiper-button-prev {
  left: 24px;
}
.swiper-button-next {
  right: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 1 !important;
  width: 56px;
  height: 56px;
  background-color: $colorWhite;
  border: solid 1px $colorBlack;
  @include border-radius(50%);
  margin-top: -29px;
  @include transition(all 0.3s);

  &:after {
    color: #424242;
    font-size: 16px;
    font-weight: 700;
  }

  &:hover {
    background-color: $colorBlack;
    color: $colorWhite;

    &::after {
      color: $colorWhite;
    }
  }
}

picture {
  position: relative;
  display: block;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: absolute;
  right: 0;
  top: -112px;

  %styleButtonDefault {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    position: relative;
    margin: 0;
    width: 56px;
    height: 56px;
    @include transition(all 0.3s);

    &:hover {
      background-color: $colorBlack;
      color: $colorWhite;
      fill: $colorWhite;

      &::after {
        color: $colorWhite;
      }
    }
  }

  .swiper-button-next {
    @extend %styleButtonDefault;
  }
  .swiper-button-prev {
    @extend %styleButtonDefault;
  }
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.burger {
  position: relative;
  width: 18px;
  height: 18px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &-line {
    position: relative;
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: $colorDark;
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 10px;
    overflow: hidden;
  }

  &.opened {
    .burger-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -3px);
      }
    }
  }
}

video {
  &::-webkit-media-controls {
    opacity: 0;
    pointer-events: none;
  }
}

.filter-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $colorBlack;
  opacity: 0;
  z-index: 10;
  transition: all 0.3s;

  &.visible {
    opacity: 0.35;
  }
}

@media (min-width: 1200px) {
  body.modal-open {
    overflow: hidden;
    padding-right: 17px;
  }

  _:-webkit-any-link,
  :root body.modal-open {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.hidden {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }

  _:-webkit-any-link,
  :root body.compensate-for-scrollbar {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }
}
