section {
  padding: 40px 0;
}

.grettings-section {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  background-color: $colorYellow;
  position: relative;
  overflow: hidden;
  padding-top: 149px;
  padding-bottom: 80px;
  width: 100%;
}

.grettings {
  position: relative;
  z-index: 3;

  &__body {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 581px;
  }

  &__text {
    max-width: 426px;
    margin-top: 35px;
  }

  &__controls {
    max-width: 426px;
    width: 100%;
    margin-top: auto;
  }

  .caption {
    text-align: right;
  }

  .btn {
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% + 83px);
    height: 100%;
    z-index: -1;
  }
}

.catalog-section {
}

.section__head {
  border-bottom: solid 1px $colorBorder;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows-controls {
  display: flex;
  align-items: center;
  gap: 16px;

  &__left {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 17L1 9L9 1' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }
  &__right {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 17L9 9L1 1' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  .arrow {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.75;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }
}

.catalog-section__body {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.catalog-section__links {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  width: calc(100% - 758px - 24px);

  li {
    & + li {
      border-top: solid 1px $colorBorder;
    }

    &:last-child {
      border-bottom: solid 1px $colorBorder;
    }
  }

  a {
    padding: 40px 32px;
    display: block;
    width: 100%;
    transition: background-color 0.3s;

    &.active,
    &:hover {
      background-color: $colorYellow;
    }
  }
}

.catalog-section__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  pointer-events: none;

  .catalog-main-item {
    width: calc(50% - 12px);

    &:nth-child(2) {
      margin-top: auto;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: initial;

    .catalog-main-item {
      opacity: 1;

      &:nth-child(1) {
        transform: translateY(0px);
      }

      &:nth-child(2) {
        transform: translateY(0px);
      }
    }
  }
}

.catalog-section__catalog {
  position: relative;
  width: 100%;
  max-width: 758px;
}

.catalog-main-item {
  background-color: $colorYellow;
  position: relative;
  transition: opacity 1.5s, transform 3s;
  opacity: 0;
  transform: translateY(50px);

  &:nth-child(2) {
    transform: translateY(-50px);
    margin-top: auto;
  }

  .picture {
    width: 100%;
    height: 259px;
    @include invisLink;
  }

  &__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: $colorDark;
    padding-right: 70px;
  }

  &__brand {
  }

  &__name {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
    @include text-decoration-hover($colorDark);
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__size {
  }

  &__price {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
  }

  &__link {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 44px;
    height: 44px;
    border: solid 1px $colorDark;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%2335291E'/%3e%3c/svg%3e ");
    transition: all 0.3s;

    &:hover {
      background-color: $colorDark;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%23ffffff'/%3e%3c/svg%3e ");
    }
  }
}

.collection-main {
  overflow: hidden;
  width: 100%;
  background-color: $colorYellow;
}

.slider-collection {
  width: 100%;
  margin-top: 40px;
  overflow: visible;

  .swiper-wrapper {
    min-height: 650px;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;

    .collection-slide {
      transform: translateY(150px);
      padding-bottom: 60px;
    }

    &.swiper-slide-prev {
      .collection-slide {
      }
    }

    &.swiper-slide-active {
      .collection-slide {
        transform: translateY(0px);
        height: 650px;
      }
    }

    &.swiper-slide-next {
      .collection-slide {
        transform: translateY(0);
      }

      &.swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide,
      &.swiper-slide + .swiper-slide + .swiper-slide,
      &.swiper-slide + .swiper-slide,
      &.swiper-slide {
        .collection-slide {
          transform: translateY(0);
        }
      }
    }
  }

  .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include invisLink;
  }
}

.slider-collection__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  display: block;
  padding: 16px 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-color: #35291e;
  z-index: 3;
  color: $colorWhite;
  @include text-decoration-hover($colorWhite);
}

.collection-slide {
  position: relative;
  width: 100%;
  height: 500px;
  transition: height 0.3s, transform 0.3s, padding 0.3s;
}

.main-article {
}

.main-article__body {
  display: grid;
  grid-template-columns: 760px 428px;
  justify-content: space-between;
  margin-top: 40px;
  gap: 18px;

  .picture {
    position: relative;
    grid-row: 1/2;
  }
}

.main-article__picture {
}

.main-article__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;

  .picture {
    width: 100%;
    height: 336px;
    margin-top: 85px;
  }
}

.main-design-section {
}

.main-design__slider {
  width: 100%;
  overflow: hidden;
}

.slider-design {
  width: 424px;
  overflow: visible;
  margin: 40px 0 0 225px;

  .swiper-wrapper {
  }

  .swiper-slide {
    width: 200px;
    height: 424px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .main-design {
      width: 200px;
      height: 200px;
    }

    &.swiper-slide-prev {
      .main-design {
        margin-left: auto;
      }
    }

    &.swiper-slide-next {
      & + .swiper-slide {
        .main-design {
          margin-left: -225px;
        }

        & + .swiper-slide {
          .main-design {
            margin-left: -450px;
          }
        }
      }
    }

    &.swiper-slide-active {
      z-index: 5;

      .main-design {
        width: 424px;
        height: 100%;
      }

      .main-design__name {
        opacity: 1;
        pointer-events: initial;
        z-index: 3;
      }

      .picture {
        height: 100%;
      }
    }
  }
}

.main-design {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  width: 424px;
  height: 200px;
  transition: height 0.3s;

  .picture {
    width: 100%;
    height: 100%;
    transition: height 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    @include invisLink;
  }

  &__name {
    position: absolute;
    top: 0;
    left: calc(100% + 24px);
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    z-index: -1;
    @include text-decoration-hover($colorDark);
  }
}

.video-section {
  position: relative;
  padding-top: calc(800 / 1920 * 100%);
  margin: 40px 0;

  video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stock-section {
  .arrows-controls {
    display: none;
  }
}

.section__head {
}

.stock-slider {
  margin-top: 40px;
}

.stock-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  height: calc(312px + 312px + 40px);
  overflow: hidden;
  transition: height 0.3s;

  &.opened {
    .stock-item {
      opacity: 1;
      pointer-events: initial;
      transform: translateY(0);
    }
  }

  .stock-item {
    transform: translateY(150px);

    &:nth-child(-n + 3) {
      transform: translateY(0);
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.stock-item {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  gap: 16px;
  min-height: 312px;
  gap: 24px;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s;

  .picture {
    width: 100%;
    height: 100%;
    @include invisLink;
  }

  .caption {
    @include text-decoration-hover($colorDark);
  }

  .stock-item__text {
    margin-top: 24px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}

.stock-item__media {
  position: relative;
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
}

.stock-item__content {
  position: relative;
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
}

.circle-link {
  margin-top: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%2335291E'/%3e%3c/svg%3e ");
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: solid 1px $colorDark;
  transition: all 0.3s;
  display: block;

  &:hover {
    background-color: $colorDark;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%23ffffff'/%3e%3c/svg%3e ");
  }
}

.stock-controls {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;

  &.hidden {
    display: none;
  }

  .btn {
    position: relative;
    z-index: 5;
  }
}

.stock-section__inner {
  position: relative;
  width: 100%;
}

.special-section {
  background-color: $colorYellow;
}

.slider-default-wrapper {
  overflow: hidden;
}

.slider-default {
  margin-top: 40px;
}

.slider-default__slide {
}

.slider-picture {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  z-index: 5;

  &:hover {
    .slider-picture__controls {
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-pagination {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .slider-picture__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: calc(100% - 45px);
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0 16px;
    transform: translateY(0%);
    z-index: 5;
    transition: all 0.3s;

    .swiper-button-prev {
      position: relative;
      margin: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      border: 0;
      width: 32px;
      height: 32px;

      &::after {
        color: $colorWhite;
      }
    }

    .swiper-button-next {
      position: relative;
      margin: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      border: 0;
      width: 32px;
      height: 32px;

      &::after {
        color: $colorWhite;
      }
    }
  }

  .picture {
    padding-top: calc(389 / 648 * 100%);
  }

  .swiper-pagination {
    opacity: 0;
    pointer-events: none;
  }
}

.slider-default__text {
  margin-top: 16px;
}

.slider-default--spaces {
  overflow: visible;
}

.special-project {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  &__head {
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;

    .btn {
      margin-top: auto;
    }
  }

  .slider-default {
    margin: 0;
    width: calc(50% - 12px);
  }
}

.config-section {
}

.config-section__row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.config-section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 423px;

  .btn {
    margin-left: auto;
  }
}

.config-section__right {
  width: 70%;
  max-width: 744px;

  .picture {
    width: 100%;
    padding-top: calc(376 / 744 * 100%);
  }
}

.subscribe-section {
  background-color: $colorYellow;
  width: 100%;
  padding: 26px 0;
  position: relative;
  z-index: 5;
}

.subscribe-section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .caption {
    font-weight: 400;
  }
}

.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;

  li {
  }
}

.social-link {
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.75;
  }
}

.social-link--telegram {
  background-image: url("../img/svg/ic-telegram.svg");
}

.social-link--insta {
  background-image: url("../img/svg/ic-insta.svg");
}

.social-link--facebook {
  background-image: url("../img/svg/ic-facebook.svg");
}

.social-link--whatsapp {
  background-image: url("../img/svg/ic-whatsapp.svg");
}

.catalog {
  position: relative;
}

.catalog-row {
  & + .catalog-row {
    margin-top: 56px;
  }
}

.catalog-row__head {
  border-bottom: solid 1px rgba(53, 41, 30, 0.3);
  padding: 16px 0;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  margin-top: 40px;
}

.catalog-item {
  .picture {
    padding-top: calc(340 / 648 * 100%);
    @include invisLink;
  }

  .circle-link {
  }
}

.catalog-item__content {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-item__name {
  max-width: 80%;
  width: 100%;
  display: block;
}

.catalog__links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;

  a {
    padding: 16px 0;
    position: relative;
    display: block;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    border-bottom: solid 1px $colorBorder;
    padding-right: 50px;

    @include before {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%2335291E'/%3e%3c/svg%3e ");
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: solid 1px $colorDark;
      transition: all 0.3s;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      &::before {
        background-color: $colorDark;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%23ffffff'/%3e%3c/svg%3e ");
      }
    }
  }
}

.catalog-links-invis {
  position: absolute;
  top: 110px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 117px 32px 0;
  transition: all 0.3s;

  &.sticky {
    position: fixed;
    top: 0;
  }

  .active {
    a {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }

  a {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    border-radius: 60px;
    display: table;
    transition: all 0.3s;

    &.active,
    &:hover {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  .subscribe-section {
    margin-top: auto;
  }
}

.catalog-title {
  position: relative;
  background-color: $colorYellow;

  .title-page {
    padding-top: 40px;
  }
}

.breadcrumbs {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
  }

  a.breadcrumbs__link {
    @include text-decoration-hover(rgba(53, 41, 30, 0.3));
  }

  .breadcrumbs__link {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    position: relative;
    color: rgba(53, 41, 30, 0.3);
    padding-left: 32px;

    @include before {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 8px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 13L1 7L7 1' stroke='%2335291E' stroke-opacity='0.3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }
}

.title-page {
  border-top: solid 1px rgba(53, 41, 30, 0.3);
}

.catalog-menu {
  display: inline-block;
  border: solid 1px $colorDark;
  border-radius: 60px;
  margin-top: 40px;
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  .active {
    a {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }

  a {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    display: block;
    border-radius: 60px;
    transition: all 0.3s;

    &:hover {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }
}

.menu-links {
  display: inline-block;
  border: solid 1px $colorDark;
  border-radius: 60px;
  margin-top: 40px;
  white-space: nowrap;
  overflow: auto;
  max-width: 100%;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  .active {
    a {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }

  a {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 8px 16px;
    display: block;
    border-radius: 60px;
    transition: all 0.3s;

    &:hover {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }
}

.breadcrumbs-section {
  padding: 0;

  .breadcrumbs {
    border-bottom: 0;
  }
}

.product-media {
  padding-top: calc(982 / 1920 * 100%);
  position: relative;

  .caption {
    position: absolute;
    left: 0;
    top: 145px;
    width: 100%;
    text-align: center;
    z-index: 5;
    color: $colorWhite;
  }
}

.product-media__media {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .picture-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    @include before {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(53, 41, 30, 0.8) 18.4%,
        rgba(53, 41, 30, 0.4585) 41.1%,
        rgba(53, 41, 30, 0) 63.8%
      );
      z-index: 2;
      pointer-events: none;
    }
  }

  .video-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.link-download {
  position: relative;
  padding-left: 35px;
  transition: text-decoration 0.3s;
  text-decoration: underline;
  display: inline-block;
  font-weight: 400;

  &:hover {
    text-decoration-color: transparent;
  }

  @include before {
    left: 0;
    top: 50%;
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 12.5V6.8C20 5.11984 20 4.27976 19.673 3.63803C19.3854 3.07354 18.9265 2.6146 18.362 2.32698C17.7202 2 16.8802 2 15.2 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.1198 22 8.79986 22H12.5M14 11H8M10 15H8M16 7H8M15 19L18 22M18 22L21 19M18 22V16' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }
}

.product-characteristic {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  .picture {
    @include invisLink;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .link-download {
    margin-top: 32px;
  }
}

.product-characteristic__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.product-characteristic__left {
  width: 50%;
  position: relative;
  min-height: 517px;
  max-width: 645px;
}

.product-characteristic__right {
  width: 50%;
  max-width: 650px;
}

.product-characteristic__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-info {
  .picture {
    @include invisLink;

    img {
      position: relative;
    }
  }
}

.product-info__row {
  & + .product-info__row {
    margin-top: 64px;
  }

  &:nth-child(2n) {
    .section__head {
      text-align: right;
      width: 100%;

      .caption {
        width: 100%;
        text-align: right;
      }
    }

    .product-info__list {
      .btn {
        right: auto;
        left: 0;
      }
    }
  }
}

.product-info__list {
  margin-top: 20px;
  position: relative;

  .btn {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
}

.link-default {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  border: solid 1px $colorDark;
  padding: 16px;
  border-radius: 60px;
  display: inline-block;
  margin-top: auto;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: all 0.3s;
  color: $colorDark;

  &:hover {
    background-color: $colorDark;
    color: $colorWhite;
  }
}

.product-more {
  margin-top: 56px;

  & + .product-more {
    margin-top: 24px;
  }
}

.product-more__head {
  cursor: pointer;
  padding: 16px 0;
  position: relative;
  display: block;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  border-bottom: solid 1px rgba(53, 41, 30, 0.3);
  padding-right: 50px;

  &.opened {
    &::before {
      content: "-";
    }
  }

  &:hover {
    &::before {
      background-color: $colorDark;
      color: $colorWhite;
    }
  }

  @include before {
    content: "+";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: solid 1px $colorDark;
    color: $colorDark;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
}

.product-more__body {
  display: none;
}

.product-info__delivery {
  columns: 2;
  padding: 24px 0;
}

.product-info__documents {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 0;

  .link-default {
    width: calc(100% / 3 - 24px);
  }
}

.product-action {
  background-color: $colorYellow;
  position: relative;
  overflow: hidden;

  .picture {
    &.small {
      width: 312px;
      height: 250px;
      position: absolute;
      left: calc(100% + 10px);
      top: 0;
      pointer-events: none;

      @include before {
        width: 604px;
        height: 221px;
        background-color: $colorWhite;
        left: 50%;
        top: 50%;
      }
    }
  }
}

.product-action__picture {
  position: absolute;
  left: 0;
  top: 40px;
  width: calc(50% - calc(535px / 2) + 30px);
  min-height: 530px;
}

.product-action__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 530px;
  width: 100%;
  max-width: 535px;
  margin: auto;
  gap: 16px;
  transform: translateX(60px);

  .caption {
    max-width: 414px;

    @include text-decoration-hover($colorDark);
  }

  .status {
    margin-top: auto;
  }

  .price-block {
  }
}

.product-action__controls {
  position: absolute;
  left: calc(100% + 10px);
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 312px;

  .btn {
  }
}

.product-action__list {
}

.status {
  position: relative;
  padding: 8px 16px 8px 42px;
  border-radius: 60px;
  display: inline-block;

  @include before {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.status--stock {
  background-color: $colorDark;
  color: $colorWhite;

  &::before {
    background-color: $colorWhite;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5L5 9L13 1' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }
}

.price-block {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

.main-designer {
}

.main-designer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;

  .picture {
    width: 50%;
    min-height: 647px;
  }
}

.main-designer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 309px;

  .btn {
  }
}

.main-designer__name {
  font-size: 85px;
  font-weight: 600;
  line-height: 80px;
  text-align: right;
}

.advantages-section {
  background-color: $colorYellow;
  overflow: hidden;

  .arrows-controls {
    display: none;
  }
}

.advantages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 205px 24px;

  .advantages-item {
    &:first-child {
      grid-column: 1/3;
    }

    &:nth-child(3) {
      .picture {
        position: absolute;
        top: calc(100% - 65px);
      }
    }

    &:last-child {
      grid-column: 3/5;
    }
  }
}

.advantages-item {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;

  .picture {
    width: 100%;
    height: 250px;
    @include invisLink;
  }
}

.advantages-item__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  @include text-decoration-hover($colorDark);
  display: block;
  max-width: 90%;
}

.slider-advantages {
  margin-top: 40px;
  overflow: visible;
}

.product-images {
  overflow: hidden;

  .section__head {
    border: 0;
    padding: 0;
    margin-bottom: -32px;
  }

  .arrows-controls {
    margin-left: auto;
  }
}

.slider-product-images {
  overflow: visible;
  .swiper-wrapper {
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 647px;
  }

  .swiper-slide-active {
    .picture {
      right: 0;
      width: 1200px;
      height: 100%;
    }
  }

  .swiper-slide-next {
    & + .swiper-slide {
      .picture {
        transform: translateX(calc(-50% + -117px));
      }
    }
  }
  .picture {
    @include invisLink;
    position: absolute;
    right: calc(100% - 200px);
    bottom: 0;
    width: 200px;
    height: 200px;
    transition: all 0.3s;
  }
}

.product-section {
  background-color: $colorYellow;

  .arrows-controls {
    display: none;
  }
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  margin-top: 40px;

  .catalog-main-item {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(0px);

    .picture {
      height: 259px;
      background-color: #c7c7c7;

      .btn-favorite {
        width: 20px;
        height: 17px;
        left: auto;
        right: 12px;
        top: 12px;
      }

      img {
        object-fit: contain;
      }
    }
  }

  .catalog-main-item__link {
    display: none;
  }

  .catalog-main-item__price {
    position: absolute;
    right: 12px;
    bottom: 16px;
  }

  .catalog-main-item__size,
  .catalog-main-item__brand,
  .catalog-main-item__name {
    max-width: 70%;
  }
}

.product-section__controls {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
}

.product-section__content {
  position: relative;
}

.catalog-main-item__price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  .old {
    text-decoration: line-through;
    font-weight: 400;
  }
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  .blog-item {
    &:first-child {
      grid-column: 1/3;
      grid-row: 1/3;

      .picture {
        padding-top: calc(790 / 957 * 100%);
      }
    }
  }
}

.blog-item {
  color: $colorDark;
  display: flex;
  flex-wrap: wrap;

  .circle-link {
  }

  .caption {
    @include text-decoration-hover($colorDark);
  }

  .picture {
    width: 100%;
    padding-top: calc(317 / 475 * 100%);
  }
}

.blog-item__content {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  width: calc(100% - 60px);
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.blog-item__tags {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    border: solid 1px $colorBorder;
    color: $colorBorder;
    border-radius: 90px;
    padding: 0 16px;
  }
}

.pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 161px;
  width: 100%;
  margin-top: 40px;

  .btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pagination-item {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;

  .active {
    a {
      font-weight: 600;
    }
  }

  a {
    display: block;
    transition: all 0.3s;

    &:hover {
      opacity: 0.3;
    }

    &.active {
      font-weight: 600;
    }
  }
}

.pagination-item__arrow {
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 17L9 9L1 1' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");

  &--left {
    transform: scale(-1, 1);
  }

  &--right {
  }

  &.disabled {
    opacity: 0.3;
  }
}

.blog {
  padding: 0;

  .video-section {
    margin: 0;
  }

  .catalog-main-item {
    background-color: $colorWhite;
  }

  .product-section {
    background-color: $colorWhite;

    .btn {
      display: none;
    }
  }

  .catalog-main-item__body {
    padding-left: 0;
    padding-right: 0;
  }
}

.blog-line {
  &:nth-child(2n) {
    background-color: $colorYellow;
  }
}

.blog-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog-col {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .picture {
    width: 100%;
    height: 100%;
    min-height: 602px;
    flex: 1;
    @include invisLink;
  }
}

.text-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  ul:not(.text-block__number) {
    margin-top: 20px;
    padding-left: 10px;

    li {
      position: relative;
      padding-left: 10px;

      & + li {
        margin-top: 10px;
      }

      @include before {
        left: 0;
        top: 10px;
        width: 3px;
        height: 3px;
        background-color: $colorBlack;
        border-radius: 50%;
      }
    }
  }
}

.text-block__number {
  counter-reset: item;
  margin-top: auto;

  li {
    position: relative;
    counter-increment: item;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding-left: calc(64px + 16px);

    & + li {
      margin-top: 40px;
    }

    &::before {
      content: counter(item);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
      font-weight: 600;
      line-height: 44px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: solid 1px $colorDark;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $colorWhite;
    }
  }
}

.blog-media {
  width: 100%;
  grid-column: 1/3;
}

.blog-captions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .caption {
    position: relative;
    padding-left: 40px;

    @include before {
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: solid 1px $colorDark;
      transform: translateY(-50%);
    }
  }
}

.blog-media {
  background-color: $colorYellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 10px;
  position: relative;
  z-index: 3;

  @include before {
    width: 100%;
    height: 40%;
    background-color: $colorWhite;
    right: 100%;
    top: -40px;
    z-index: -1;
  }

  @include after {
    width: 100%;
    height: 70%;
    background-color: $colorWhite;
    left: calc(70% - 84px);
    top: -40px;
    z-index: -1;
  }
}

.blog-media__item {
  width: 710px;
  height: 466px;

  .picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:nth-child(3),
  &:nth-child(2) {
    width: 473px;
    height: 573px;
  }
}

.picture-section {
  position: relative;
  padding-top: calc(800 / 1920 * 100%);
  margin: 40px 0;

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.salons-section {
}

.map {
  width: 100%;
  height: 600px;
  position: relative;

  & + * {
    margin-top: 40px;
  }
}

.saloins-item__body {
  padding: 8px 20px;
}

.saloins-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
}

.saloins-item {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.saloins-item__head {
  background-color: $colorYellow;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding: 16px 64px;
  position: relative;

  @include before {
    left: 32px;
    top: 50%;
    width: 24px;
    height: 17px;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.3488 14.9425L16.7424 0.753662L12 9.04806L7.2768 0.753662L1.6512 14.9425H0V17.0929H8.4864V14.9425H7.2192L8.448 11.4097L12 17.2465L15.552 11.4097L16.7808 14.9425H15.5136V17.0929H24V14.9425H22.3488Z' fill='%2335291E'/%3e%3c/svg%3e ");
  }
}

.saloins-item__body {
  padding: 8px 32px;
  background-color: $colorWhite;
  border: solid 1px $colorBorder;
  border-top: 0;

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .icon {
    width: 20px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
  }

  strong {
    display: block;
  }

  a {
    @include text-decoration-hover($colorDark);
  }
}

.catalog-title--white {
  background-color: $colorWhite;
}

.catalog-products {
  position: relative;

  .catalog-main-item {
    opacity: 1;
    background-color: transparent;
    transform: translate(0);

    .picture {
      .btn-favorite {
        width: 13px;
        height: 13px;
        left: auto;
        right: 17px;
        top: 17px;
        z-index: 8;
      }
    }

    .catalog-main-item__link {
      right: 0;
    }
  }

  .catalog-main-item__body {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
  }
}

.catalog-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 20px;
}

.catalog-main-item__tags {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 3;

  li {
    padding: 5px 10px;
    background-color: $colorWhite;
    border-radius: 60px;
  }
}

.filter-catalog {
  width: 236px;
  position: absolute;
  left: 32px;
  top: 40px;
  transition: top 0.3s;

  &.sticky {
    position: fixed;
    top: 80px;
  }
}

.filter-row {
  .caption {
    font-weight: 400;
  }

  & + .filter-row {
    margin-top: 32px;
  }
}

.filter-row__head {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  position: relative;
  cursor: pointer;
  padding-bottom: 8px;
  border-bottom: solid 1px $colorDark;

  &.close {
    &::before {
      content: "+";
    }
  }

  @include before {
    content: "-";
    right: 0;
    top: 50%;
    transform: translateY(calc(-50% - 4px));
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filter-row__body {
  padding: 18px 16px 0;
}

.filter-check {
  display: grid;
  flex-direction: column;
  gap: 8px;
}

.input-check {
  input {
    display: none;

    &:checked {
      & + label {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 26px;
    position: relative;
    display: block;
    font-weight: 400;

    @include before {
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      border: solid 1px $colorDark;
    }

    @include after {
      opacity: 0;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: $colorDark;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 1L3.5 6.5L1 4' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.filter-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;

  li {
    padding: 5px 36px 5px 16px;
    background-color: $colorDark;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $colorWhite;
    border-radius: 60px;

    &:last-child {
      margin-bottom: 32px;
    }
  }
}

.filter-settings__delete {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1L1 11M1 1L11 11' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 10px;
  transition: all 0.3s;

  &:hover {
    opacity: 0.75;
  }
}

.filter-row-title {
  display: none;
}

.btn-filter {
  display: none;
}

.filter-content__close {
  cursor: pointer;
  position: relative;
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1L1 11M1 1L11 11' stroke='%2335291E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 10px;
}

.stock-page {
  .stock-list {
    height: auto;
    align-items: flex-start;
  }

  .stock-item {
    flex-wrap: wrap;
    min-height: initial;
    gap: 16px;
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;

    .picture {
      padding-top: calc(389 / 648 * 100%);
      height: auto;
    }

    &.opened {
      .circle-link {
        transform: rotate(90deg);
      }
    }
  }

  .stock-item__media {
    width: 100%;
  }

  .stock-item__content {
    width: 100%;
    padding-right: 50px;
  }

  .circle-link {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.stock-circle {
  width: 271px;
  height: 271px;
  border-radius: 50%;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.6);
  color: $colorDark;
  padding: 25px;
}

.stock-circle__text {
}

#modal-stock {
  .modal__container {
    max-width: 1100px;
    width: 100%;
  }
}

.modal-stock {
  padding: 84px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .picture {
    padding-top: calc(489 / 900 * 100%);
  }

  .caption {
    padding: 16px 0;
    border-bottom: solid 1px $colorBorder;
    display: block;
  }
}

.stock-item__mobile {
  display: none;
  padding-top: 8px;
  border-top: solid 1px $colorBorder;
  margin-top: 12px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 0;

  .projects-item {
    width: calc(40% - 95px);

    &.full {
      width: calc(60% + 71px);
    }
  }

  .slider-picture {
    .picture {
      padding: 0;
      height: 389px;
      @include invisLink;
    }
  }

  .slider-default__text {
    .caption {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    p {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

.designers-catalog {
}

.designers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px 20px;
  padding-bottom: 300px;
  position: relative;
  z-index: 3;

  @include before {
    left: -100%;
    top: 75px;
    width: 200%;
    height: 349px;
    background-color: $colorYellow;
    z-index: -1;
  }

  @include after {
    right: -100%;
    bottom: 360px;
    width: 200%;
    height: 349px;
    background-color: $colorYellow;
    z-index: -1;
  }
}

.designers-item {
  &__inner {
    position: relative;
  }

  &:nth-child(3n-1) {
    .designers-item__inner {
      transform: translateY(60%);
    }
  }

  .picture {
    width: 100%;
    height: 424px;
    margin-bottom: 8px;
    @include invisLink;
  }
}

.designers-item__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  @include text-decoration-hover($colorDark);
}

.designers-item__count {
  display: block;
}

.designer-page__head {
  background-color: $colorWhite !important;
  padding-top: 0;
  margin-top: 20px;

  .blog-row {
    position: relative;

    @include before {
      top: -40px;
      background-color: $colorBorder;
      width: 100%;
      height: 1px;
    }
  }

  .blog-col {
    .caption--h1 {
      max-width: 100%;
      margin-left: auto;
      text-align: right;
    }
  }
}

.designer-page {
  padding: 0;

  .blog-row {
    justify-content: space-between;
    grid-template-columns: 649px 550px;
  }

  .blog-line:nth-child(2n) {
    background-color: $colorWhite;
  }

  .blog-line:nth-child(2n-1) {
    background-color: $colorYellow;
  }

  .blog-col {
    .picture {
      min-height: 647px;
    }
  }

  .blog-media {
    flex-direction: row-reverse;
    background-color: transparent;

    &::after,
    &::before {
      display: none;
    }
  }

  .products-slider {
    .swiper-slide {
      &:last-child {
        opacity: 0;
        pointer-events: none;
      }
    }

    .btn {
      opacity: 1;
      display: flex;
      margin-left: auto;
      margin-top: -160px;
      z-index: 5;
    }
  }
}

.designer-page__text {
  .caption {
    max-width: 985px;
    width: 100%;
  }
}
