section {
  padding: 40px 0;
}

.grettings-section {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  background-color: $colorYellow;
  position: relative;
  overflow: hidden;
  padding-top: 149px;
  padding-bottom: 80px;
  width: 100%;
}

.grettings {
  position: relative;
  z-index: 3;

  &__body {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 581px;
  }

  &__text {
    max-width: 426px;
    margin-top: 35px;
  }

  &__controls {
    max-width: 426px;
    width: 100%;
    margin-top: auto;
  }

  .caption {
    text-align: right;
  }

  .btn {
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% + 83px);
    height: 100%;
    z-index: -1;
  }
}

.catalog-section {
}

.section__head {
  border-bottom: solid 1px $colorBorder;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows-controls {
  display: flex;
  align-items: center;
  gap: 16px;

  &__left {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 17L1 9L9 1' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }
  &__right {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 17L9 9L1 1' stroke='%2335291E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  .arrow {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.75;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }
}

.catalog-section__body {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.catalog-section__links {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  width: calc(100% - 758px - 24px);

  li {
    & + li {
      border-top: solid 1px $colorBorder;
    }

    &:last-child {
      border-bottom: solid 1px $colorBorder;
    }
  }

  a {
    padding: 40px 32px;
    display: block;
    width: 100%;
    transition: background-color 0.3s;

    &.active,
    &:hover {
      background-color: $colorYellow;
    }
  }
}

.catalog-section__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  pointer-events: none;

  .catalog-main-item {
    width: calc(50% - 12px);

    &:nth-child(2) {
      margin-top: auto;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: initial;

    .catalog-main-item {
      opacity: 1;

      &:nth-child(1) {
        transform: translateY(0px);
      }

      &:nth-child(2) {
        transform: translateY(0px);
      }
    }
  }
}

.catalog-section__catalog {
  position: relative;
  width: 100%;
  max-width: 758px;
}

.catalog-main-item {
  background-color: $colorYellow;
  position: relative;
  transition: opacity 1.5s, transform 3s;
  opacity: 0;
  transform: translateY(50px);

  &:nth-child(2) {
    transform: translateY(-50px);
    margin-top: auto;
  }

  .picture {
    width: 100%;
    height: 259px;
    @include invisLink;
  }

  &__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: $colorDark;
    padding-right: 70px;
  }

  &__brand {
  }

  &__name {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
    @include text-decoration-hover($colorDark);
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__size {
  }

  &__price {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.05em;
  }

  &__link {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 44px;
    height: 44px;
    border: solid 1px $colorDark;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%2335291E'/%3e%3c/svg%3e ");
    transition: all 0.3s;

    &:hover {
      background-color: $colorDark;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%23ffffff'/%3e%3c/svg%3e ");
    }
  }
}

.collection-main {
  overflow: hidden;
  width: 100%;
  background-color: $colorYellow;
}

.slider-collection {
  width: 100%;
  margin-top: 40px;
  overflow: visible;

  .swiper-wrapper {
    min-height: 650px;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;

    .collection-slide {
      transform: translateY(150px);
      padding-bottom: 60px;
    }

    &.swiper-slide-prev {
      .collection-slide {
      }
    }

    &.swiper-slide-active {
      .collection-slide {
        transform: translateY(0px);
        height: 650px;
      }
    }

    &.swiper-slide-next {
      .collection-slide {
        transform: translateY(0);
      }

      &.swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide,
      &.swiper-slide + .swiper-slide + .swiper-slide,
      &.swiper-slide + .swiper-slide,
      &.swiper-slide {
        .collection-slide {
          transform: translateY(0);
        }
      }
    }
  }

  .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include invisLink;
  }
}

.slider-collection__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  display: block;
  padding: 16px 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-color: #35291e;
  z-index: 3;
  color: $colorWhite;
  @include text-decoration-hover($colorWhite);
}

.collection-slide {
  position: relative;
  width: 100%;
  height: 500px;
  transition: height 0.3s, transform 0.3s, padding 0.3s;
}

.main-article {
}

.main-article__body {
  display: grid;
  grid-template-columns: 760px 428px;
  justify-content: space-between;
  margin-top: 40px;
  gap: 18px;

  .picture {
    position: relative;
    grid-row: 1/2;
  }
}

.main-article__picture {
}

.main-article__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;

  .picture {
    width: 100%;
    height: 336px;
    margin-top: 85px;
  }
}

.main-design-section {
}

.main-design__slider {
  width: 100%;
  overflow: hidden;
}

.slider-design {
  width: 424px;
  overflow: visible;
  margin: 40px 0 0 225px;

  .swiper-wrapper {
  }

  .swiper-slide {
    width: 200px;
    height: 424px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .main-design {
      width: 200px;
      height: 200px;
    }

    &.swiper-slide-prev {
      .main-design {
        margin-left: auto;
      }
    }

    &.swiper-slide-next {
      & + .swiper-slide {
        .main-design {
          margin-left: -225px;
        }

        & + .swiper-slide {
          .main-design {
            margin-left: -450px;
          }
        }
      }
    }

    &.swiper-slide-active {
      z-index: 5;

      .main-design {
        width: 424px;
        height: 100%;
      }

      .main-design__name {
        opacity: 1;
        pointer-events: initial;
        z-index: 3;
      }

      .picture {
        height: 100%;
      }
    }
  }
}

.main-design {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  width: 424px;
  height: 200px;
  transition: height 0.3s;

  .picture {
    width: 100%;
    height: 100%;
    transition: height 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    @include invisLink;
  }

  &__name {
    position: absolute;
    top: 0;
    left: calc(100% + 24px);
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    z-index: -1;
    @include text-decoration-hover($colorDark);
  }
}

.video-section {
  position: relative;
  padding-top: calc(800 / 1920 * 100%);
  margin: 40px 0;

  video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stock-section {
  .arrows-controls {
    display: none;
  }
}

.section__head {
}

.stock-slider {
  margin-top: 40px;
}

.stock-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  height: calc(312px + 312px + 40px);
  overflow: hidden;
  transition: height 0.3s;

  &.opened {
    .stock-item {
      opacity: 1;
      pointer-events: initial;
      transform: translateY(0);
    }
  }

  .stock-item {
    transform: translateY(150px);

    &:nth-child(-n + 3) {
      transform: translateY(0);
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.stock-item {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  gap: 16px;
  min-height: 312px;
  gap: 24px;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s;

  .picture {
    width: 100%;
    height: 100%;
    @include invisLink;
  }

  .caption {
    @include text-decoration-hover($colorDark);
  }

  .stock-item__text {
    margin-top: 24px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}

.stock-item__media {
  position: relative;
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
}

.stock-item__content {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
}

.stock-item__link {
  margin-top: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%2335291E'/%3e%3c/svg%3e ");
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: solid 1px $colorDark;
  transition: all 0.3s;

  &:hover {
    background-color: $colorDark;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469675 13.5303C0.176775 13.2374 0.176775 12.7625 0.469675 12.4696L5.93931 6.99998L0.469675 1.53028C0.176775 1.23738 0.176775 0.762575 0.469675 0.469675C0.762575 0.176775 1.23738 0.176775 1.53028 0.469675L7.53031 6.46968C7.8232 6.76258 7.8232 7.23738 7.53031 7.53028L1.53028 13.5303C1.23738 13.8232 0.762575 13.8232 0.469675 13.5303Z' fill='%23ffffff'/%3e%3c/svg%3e ");
  }
}

.stock-controls {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;

  &.hidden {
    display: none;
  }

  .btn {
    position: relative;
    z-index: 5;
  }
}

.stock-section__inner {
  position: relative;
  width: 100%;
}

.special-section {
  background-color: $colorYellow;
}

.slider-default-wrapper {
  overflow: hidden;
}

.slider-default {
  margin-top: 40px;
}

.slider-default__slide {
}

.slider-picture {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  z-index: 5;

  &:hover {
    .slider-picture__controls {
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-pagination {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .slider-picture__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: calc(100% - 45px);
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0 16px;
    transform: translateY(0%);
    z-index: 5;
    transition: all 0.3s;

    .swiper-button-prev {
      position: relative;
      margin: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      border: 0;
      width: 32px;
      height: 32px;

      &::after {
        color: $colorWhite;
      }
    }

    .swiper-button-next {
      position: relative;
      margin: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      border: 0;
      width: 32px;
      height: 32px;

      &::after {
        color: $colorWhite;
      }
    }
  }

  .picture {
    padding-top: calc(389 / 648 * 100%);
  }

  .swiper-pagination {
    opacity: 0;
    pointer-events: none;
  }
}

.slider-default__text {
  margin-top: 16px;
}

.slider-default--spaces {
  overflow: visible;
}

.special-project {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  &__head {
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;

    .btn {
      margin-top: auto;
    }
  }

  .slider-default {
    margin: 0;
    width: calc(50% - 12px);
  }
}

.config-section {
}

.config-section__row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.config-section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-width: 423px;

  .btn {
    margin-left: auto;
  }
}

.config-section__right {
  width: 70%;
  max-width: 744px;

  .picture {
    width: 100%;
    padding-top: calc(376 / 744 * 100%);
  }
}

.subscribe-section {
  background-color: $colorYellow;
  width: 100%;
  padding: 26px 0;
}

.subscribe-section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .caption {
    font-weight: 400;
  }
}

.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 23px;

  li {
  }
}

.social-link {
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.75;
  }
}

.social-link--telegram {
  background-image: url("../img/svg/ic-telegram.svg");
}

.social-link--insta {
  background-image: url("../img/svg/ic-insta.svg");
}

.social-link--facebook {
  background-image: url("../img/svg/ic-facebook.svg");
}

.social-link--whatsapp {
  background-image: url("../img/svg/ic-whatsapp.svg");
}
