@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }

  .main {
    padding-top: 45px;
  }

  .header-inner {
    padding: 11px 0;
  }

  .logo {
    width: 67px;
    height: 23px;
    order: 2;
    margin-left: auto;
    transform: translateX(30px);
  }

  .menu {
    right: auto;
    left: 0;
  }

  .burger {
    order: 1;
    margin: 0;
  }

  .header-controls {
    gap: 10px;
    order: 3;
    flex-direction: row-reverse;

    .btn-phone {
      display: flex;
    }

    .link-phone {
      display: none;
    }

    .btn {
      display: none;
    }
  }

  h1,
  .caption--h1 {
    font-size: 40px;
    line-height: 38px;
  }

  .grettings-section {
    padding: 16px 0;
  }

  .grettings__body {
    width: 100%;
    min-height: initial;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .grettings {
    width: 100%;

    .caption {
      width: 100%;
    }

    .picture {
      position: relative;
      width: 100%;
      height: auto;
      padding-top: calc(272 / 358 * 100%);
      margin: 16px 0;
    }
  }

  .grettings__text {
    width: calc(100% - 130px);
    margin: 0;
    display: flex;
    align-items: flex-start;
    padding-right: 20px;
    max-width: 100%;
    margin-right: auto;
  }

  .grettings__controls {
    width: 110px;
    max-width: 110px;
  }

  .catalog-section__links {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: flex-start;

    li {
      & + li {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
        border-radius: 0;
      }
    }

    a {
      padding: 8px 16px;
      border-right: solid 1px $colorBorder;
      white-space: nowrap;

      &.active {
        border-right-color: transparent;
      }
    }
  }

  .catalog-section__content .catalog-main-item:nth-child(2) {
    margin-top: 0;
  }

  .catalog-section__catalog {
    width: 100%;
    min-height: initial;
    transition: height 0.3s;
  }

  .catalog-section__body {
    flex-wrap: wrap;
    width: 100%;
  }

  .catalog-section__content {
    width: 100%;
    flex-wrap: wrap;

    &.active {
      .catalog-main-item:nth-child(1) {
        transform: translateY(0) translateX(0);
      }

      .catalog-main-item:nth-child(2) {
        transform: translateY(0) translateX(0);
      }
    }

    .catalog-main-item {
      width: 100%;
      transform: translateY(0) translateX(-50px);

      &:nth-child(2) {
        transform: translateY(0) translateX(50px);
      }

      & + .catalog-main-item {
        margin-top: 16px;
      }
    }
  }

  .catalog-main-item__size {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .catalog-main-item__price {
    margin-top: 14px;
  }

  .catalog-section__body {
    margin-top: 16px;
  }

  .catalog-section {
    overflow: hidden;
  }

  .catalog-main-item .picture {
    height: auto;
    padding-top: calc(163 / 358 * 100%);
  }

  .slider-collection {
    margin-top: 16px;
  }

  .slider-collection .swiper-slide .collection-slide {
    padding-top: calc(270 / 315 * 100%);
    transform: translateY(calc(100% - 74px));

    .picture {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .slider-collection .swiper-slide .collection-slide {
    transform: translateY(calc(50% - 43px));
  }

  .slider-collection .swiper-slide.swiper-slide-active .collection-slide {
    padding-top: calc(388 / 315 * 100%);
    height: auto;
  }

  .slider-collection .swiper-wrapper {
    min-height: initial;
  }

  .main-article__body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 16px;
  }

  .main-article__picture {
    padding-top: calc(365 / 360 * 100%);
  }

  .main-article__content {
    gap: 20px;

    .picture {
      width: 100%;
      height: auto;
      margin-top: auto;
      padding-top: calc(182 / 360 * 100%);
    }
  }

  .main-design__slider {
    overflow: visible;
  }

  .main-design__name {
    white-space: inherit;
  }

  .slider-design {
    width: 265px;
    margin: 25px 0 0 0;
  }

  .stock-section {
    .arrows-controls {
      display: flex;
    }
  }

  .stock-list {
    display: flex;
    gap: 0;
    overflow: visible;
    height: auto !important;
    transition-property: transform;
    transition-timing-function: var(
      --swiper-wrapper-transition-timing-function,
      initial
    );

    .stock-item {
      transform: translateY(0) !important;
      opacity: 1 !important;
      pointer-events: initial !important;
    }
  }

  .stock-item {
    flex-direction: column;
    gap: 8px;
  }

  .stock-item__media {
    width: 100%;

    .picture {
      padding-top: calc(200 / 263 * 100%);
      display: block;
    }
  }

  .stock-item__content {
    width: 100%;
  }

  .stock-item .stock-item__text {
    -webkit-line-clamp: 5;
    margin-top: 12px;
  }

  .stock-controls {
    display: none;
  }

  .stock-item {
    .circle-link {
      margin-top: 8px;
    }
  }

  .main-design-section {
    overflow: hidden;
  }

  .stock-slider {
    margin-top: 14px;
    width: calc(75% - 5.8px);
    overflow: visible;
  }

  .stock-section {
    overflow: hidden;
  }

  .slider-default--spaces {
    margin-top: 16px;
    width: calc(75% - 5.8px);
  }

  .slider-default {
    .slider-picture__controls {
      display: none;
    }

    .swiper-pagination {
      opacity: 1;
      gap: 8px;
      padding: 0 8px;
    }
  }

  .special-project {
    flex-wrap: wrap;
    padding-bottom: 142px;
    position: relative;

    .btn {
      position: absolute;
      bottom: 0;
      right: 16px;
      margin: 0;
    }
  }

  .special-project .slider-default {
    width: 100%;
    margin-top: 16px;
  }

  .special-project__head {
    width: 100%;
  }

  .config-section__row {
    flex-wrap: wrap;
  }

  .config-section__left {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    max-width: 100%;
  }

  .config-section__right {
    width: 100%;
    margin-top: 20px;
  }

  .subscribe-section {
    padding: 20px 0;
  }

  .social-list {
    gap: 10px;
  }

  .footer-top__text {
    width: 100%;
    text-align: center;
    gap: 4px;
    display: flex;
    flex-direction: column;
  }

  .footer-top__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-center__inner {
    flex-direction: column;
  }

  .footer-menu {
    gap: 156px;
    flex-direction: column;
  }

  .footer-top__form {
    width: 100%;
    margin-top: 8px;
  }

  .footer-top__form {
    gap: 8px;
  }

  .footer-center__inner {
    .logo {
      margin: 0 auto;
      flex: auto;
      min-width: initial;
      transform: translateX(0px);
      order: -1;
      width: 80px;
      height: 27px;
    }
  }

  .footer-menu__title {
    position: relative;

    @include before {
      right: -18px;
      top: 50%;
      width: 10px;
      height: 10px;
      margin-top: -3px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 9px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.750776 1.07309C0.963787 0.860075 1.30915 0.860075 1.52217 1.07309L5.50011 5.05101L9.47807 1.07309C9.69109 0.860075 10.0364 0.860076 10.2494 1.07309C10.4624 1.28611 10.4624 1.63142 10.2494 1.84444L5.88578 6.2081C5.67276 6.42111 5.32745 6.42111 5.11443 6.2081L0.750776 1.84444C0.537765 1.63142 0.537765 1.28611 0.750776 1.07309Z' fill='white'/%3e%3c/svg%3e ");
    }
  }

  .footer-menu__col ul {
    display: none;
  }

  .footer-menu {
    gap: 0;
    padding: 0;
    margin-top: 16px;
    width: 100%;
  }

  .footer-menu__col {
    justify-content: center;
    align-items: center;
  }

  .footer-menu__col:nth-child(2) ul {
    display: none;
  }

  .footer-center__inner .btn {
    min-width: initial;
    margin: 0 auto;
    margin-top: 16px;
  }

  .footer-bottom__inner {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
  }

  .breadcrumbs {
    padding: 16px 0;
  }

  .catalog-title .title-page {
    padding-top: 16px;
  }

  .catalog-menu {
    margin-top: 16px;
    width: 100%;

    a {
      padding: 8px 16px;
    }
  }

  .menu-links {
    margin-top: 16px;
    width: 100%;

    a {
      padding: 8px 16px;
    }
  }

  .product-characteristic__left {
    width: 100%;
    max-width: 100%;
    padding-top: calc(275 / 350 * 100%);
  }

  .product-characteristic__right {
    width: 100%;
    max-width: 100%;
    margin-top: 12px;
  }

  .product-characteristic__info {
    gap: 4px;
  }

  .product-info__list {
    .btn {
      position: relative;
      margin-top: 16px;
      margin-left: auto;
    }
  }

  .product-info__row:nth-child(2n) .product-info__list .btn {
    margin-right: auto;
    margin-left: 0;
  }

  .product-info__row + .product-info__row {
    margin-top: 34px;
  }

  .product-info__delivery {
    columns: initial;

    p + p {
      margin-top: 16px;
    }
  }

  .product-info__documents .link-default {
    width: 100%;
  }

  .product-more {
    margin-top: 24px;
  }

  .product-action__content .caption {
    width: 100%;
    max-width: 100%;
  }

  .product-action__content {
    width: 100%;
    max-width: 100%;
    transform: translateX(0);
    padding: 0;
    min-height: initial;
    gap: 8px;

    .status {
      margin-top: 50px;
    }
  }

  .product-action .picture.small {
    left: 0;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: calc(233 / 363 * 100%);
    margin-top: 50px;
  }

  .product-action__picture {
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: auto;
    min-height: initial;
    height: auto;
    padding-top: calc(233 / 363 * 100%);
    margin-bottom: 16px;
  }

  .product-action__controls {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: -105px;
    margin-bottom: -35px;
  }

  .price-block {
    max-width: 70%;
  }

  .main-designer__row {
    margin-top: 20px;

    .picture {
      width: 100%;
      min-height: initial;
      padding-top: calc(345 / 380 * 100%);
    }
  }

  .main-designer__content {
    max-width: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    .btn {
    }
  }

  .main-designer__name {
    font-size: 50px;
    line-height: 50px;
    max-width: 182px;
  }

  .slider-advantages {
    margin-top: 16px;
    width: calc(75% - 5.8px);
  }

  .advantages {
    display: flex;
    gap: initial;
  }

  .advantages-item {
    gap: 8px;

    .picture {
      height: auto;
      padding-top: calc(243 / 310 * 100%);
    }
  }

  .advantages .advantages-item:nth-child(3) .picture {
    position: relative;
    top: auto;
  }

  .product-images {
    .section__head {
      display: none;
    }
  }

  .slider-product-images {
    width: calc(75% - 5.8px);
    margin: auto;

    .swiper-wrapper {
      align-items: center;
      height: auto !important;
    }

    .swiper-slide {
      height: auto;
      padding-top: calc(194 / 263 * 100%);
      transition: padding 0.3s;
    }

    .swiper-slide-active {
      padding-top: calc(290 / 263 * 100%);

      .picture {
        width: 100%;
        height: 100%;
      }
    }

    .picture {
      right: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .swiper-slide-next {
      & + .swiper-slide .picture {
        transform: translateX(0);
      }
    }
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .product-list .catalog-main-item .picture {
    height: auto;
    padding-top: calc(132 / 290 * 100%);
  }

  .product-section__controls {
    position: relative;
    margin-top: 16px;
  }

  .advantages-section {
    .arrows-controls {
      display: flex;
    }
  }

  .blog-list {
    grid-template-columns: 1fr;
  }

  .blog-list .blog-item {
    &:first-child {
      grid-column: initial;
      grid-row: initial;

      .picture {
        padding-top: calc(194 / 358 * 100%);
      }
    }
  }

  .blog-item {
    .picture {
      padding-top: calc(194 / 358 * 100%);
    }
  }

  .blog-item__content {
    max-width: calc(70% - 22px);
    padding-right: 10px;
  }

  .blog-item {
    justify-content: flex-start;

    .circle-link {
      margin-left: 0;
    }
  }

  .pagination {
    justify-content: flex-start;
    min-height: 110px;
    margin-top: 16px;
  }

  .products-slider {
    overflow: visible;
  }

  .product-section .arrows-controls {
    display: flex;
  }

  .product-list.swiper-wrapper {
    display: flex;
    gap: 0;
  }

  .blog-row {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .blog-col .picture {
    height: auto;
    min-height: initial;
    padding-top: calc(193 / 358 * 100%);
  }

  .text-block__number li + li {
    margin-top: 16px;
  }

  .blog {
    .product-section {
      .btn {
        display: flex;
        margin-left: auto;
        margin-top: 16px;
      }
    }
  }

  .blog-media__slider {
    .blog-media__item {
      width: 100%;
      height: auto;

      .picture {
        height: auto;
        padding-top: calc(232 / 352 * 100%);
      }
    }

    .blog-media {
      display: flex;
      gap: 0;
      flex-wrap: nowrap;

      &::after,
      &::before {
        display: none;
      }
    }
  }

  .saloins-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .saloins-item__body {
    padding: 8px 20px;
  }

  .catalog-products__list {
    grid-template-columns: 1fr;
    padding-left: 0;
    gap: 16px;
  }

  .filter-catalog {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 16px;

    &.sticky {
      position: relative;
      left: 0;
      top: 0;
    }
  }

  .filter-row-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  .filter-content {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.3s;
    width: 290px;
    z-index: 11;
    background-color: $colorWhite;
    padding: 20px 16px;
    max-height: 100vh;
    overflow: auto;

    &.opened {
      right: 0;
    }
  }

  .btn-filter {
    display: flex;
    margin-left: auto;
  }

  .filter-settings li:last-child {
    margin-bottom: 0;
  }

  .filter-row + .filter-row {
    margin-top: 18px;
  }

  .filter-row__body {
    padding: 9px 16px 0;
  }

  .stock-page {
    .stock-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
    }

    .stock-item {
      .picture {
        padding-top: calc(242 / 358 * 100%);
      }
    }
  }

  .modal-stock {
    padding: 43px 10px;
    gap: 16px;
  }

  .modal-stock .caption {
    padding: 8px 0;
  }

  .modal__close {
    right: 20px;
    top: 17px;
  }

  #modal-stock .modal__container {
    padding: 0 10px;
  }
}
