@media (min-width: 1950px) {
  .marquee-section__block--3{
    display: block;
  }
}

@media (min-width: 1280px) {
  .menu {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .materials-col {
    display: block !important;
  }

  .footer-menu__col {
    &:nth-child(2) {
      ul {
        display: grid !important;
      }
    }

    ul {
      display: block !important;
    }
  }
}
