@media (max-width: 639px) {
  .catalog-list {
    grid-template-columns: 1fr;
    margin-top: 16px;
    gap: 16px;
  }

  .product-list {
    .catalog-main-item__size,
    .catalog-main-item__brand,
    .catalog-main-item__name {
      max-width: 300px;
    }
  }
}
