@media (max-width: 1279px) {
  body {
    font-size: 14px;
    line-height: 16px;
  }

  section {
    padding: 20px 0;
  }

  .container {
    max-width: 824px;
  }

  .header-inner {
    padding: 14px 0;
  }

  .main {
    padding-top: 60px;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $colorYellow;
    height: 100vh;
    z-index: 10;
    width: 0px;
    padding: 34px 32px;
    transition: width 0.5s, opacity 0.5s;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;

    a {
      @include text-decoration-hover($colorDark);
    }

    &.opened {
      width: 328px;
      opacity: 1;
      pointer-events: initial;
      overflow: auto;
    }
  }

  .menu-head {
    display: flex;
    margin-bottom: 18px;
  }

  .menu-title {
    width: 100%;
    color: $colorBlack;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    display: block;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 264px;
  }

  .menu-item {
    width: 100%;

    & + .menu-item {
      border-top: solid 1px $colorBorder;
    }
  }

  .menu-link {
    padding: 8px 0;
    display: block;

    &.menu-link--arrow {
      display: none;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .menu-sub {
    position: relative;
    width: 100%;
    padding: 0;
    width: 100%;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: initial;
  }

  .menu-sub__list {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .logo {
    width: 80px;
    height: 26px;
  }

  .burger {
    display: flex;
    margin-left: 35px;
  }

  .header-controls {
    margin-left: auto;
    gap: 24px;
  }

  h1,
  .caption--h1 {
    font-size: 50px;
    line-height: 46px;
  }

  h2,
  .caption--h2 {
    font-size: 22px;
    line-height: 24px;
  }

  h3,
  .caption--h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .grettings-section {
    font-size: 14px;
    line-height: 16px;
    padding: 40px 0;
  }

  .grettings__body {
    min-height: 361px;
  }

  .grettings__text {
    max-width: 193px;
  }

  .grettings__controls {
    max-width: 193px;
  }

  .grettings {
    max-width: 824px;
    margin: auto;
  }

  .grettings .picture {
    width: calc(50% + 40px);
  }

  .catalog-section__links {
    font-size: 16px;
    line-height: 20px;
    width: 40%;
  }

  .catalog-section__links a {
    padding: 19px 16px;
  }

  .catalog-section__body {
    margin-top: 20px;
    gap: 16px;
  }

  .section__head {
    padding-bottom: 8px;
  }

  .arrows-controls {
    gap: 8px;

    .arrow {
      width: 24px;
      height: 24px;
    }
  }

  .catalog-section__catalog {
    width: 60%;
  }

  .catalog-section__content {
  }

  .catalog-main-item .picture {
    height: 163px;
  }

  .catalog-main-item__body {
    font-size: 10px;
    line-height: 12px;
    padding: 8px 12px;
    gap: 4px;
  }

  .catalog-main-item__name {
    font-size: 14px;
    line-height: 16px;
  }

  .catalog-main-item__link {
    width: 32px;
    height: 32px;
    background-size: 6px;
    right: 12px;
    bottom: 8px;
  }

  .catalog-main-item__price {
    margin-top: 4px;
  }

  .catalog-section__content .catalog-main-item {
    width: calc(50% - 6px);
  }

  .slider-collection {
    margin-top: 20px;
  }

  .slider-collection .swiper-slide .collection-slide {
    height: 310px;
    padding-bottom: 40px;
  }

  .slider-collection .swiper-slide.swiper-slide-active .collection-slide {
    height: 388px;
  }

  .slider-collection__link {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 14px;
  }

  .slider-collection .swiper-wrapper {
    min-height: 388px;
  }

  .slider-collection .swiper-slide .collection-slide {
    transform: translateY(78px);
  }

  .main-article__body {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 18px;
  }

  .main-article__content {
    gap: 20px;

    .picture {
      height: 182px;
      margin-top: auto;
    }
  }

  .slider-design {
    width: 265px;
    margin: 25px 0 0 140px;

    .swiper-wrapper {
    }

    .swiper-slide {
      width: 125px;
      height: 265px;

      .main-design {
        width: 125px;
        height: 125px;
      }

      &.swiper-slide-next {
        & + .swiper-slide {
          .main-design {
            margin-left: -140px;
          }

          & + .swiper-slide {
            .main-design {
              margin-left: -280px;
            }
          }
        }
      }

      &.swiper-slide-active {
        .main-design {
          width: 265px;
        }
      }
    }
  }

  .main-design__name {
    font-size: 16px;
    line-height: 20px;
    left: calc(100% + 14px);
  }

  .video-section {
    margin: 20px 0;
  }

  .stock-slider {
    margin-top: 20px;
  }

  .stock-list {
    gap: 20px 16px;

    &:not(.opened) {
      height: 408px;
    }
  }

  .stock-item {
    font-size: 14px;
    line-height: 16px;
    min-height: 194px;
    gap: 12px;
  }

  .stock-item .stock-item__text {
    -webkit-line-clamp: 4;
    margin-top: 12px;
  }

  .stock-item__link {
    width: 32px;
    height: 32px;
    background-size: 6px;
  }

  .stock-controls {
    margin-top: -120px;
  }

  .slider-picture .slider-picture__controls {
    padding: 0 10px;
  }

  .slider-default {
    margin-top: 20px;
  }

  .config-section__row {
    margin-top: 20px;
  }

  .config-section__left {
    max-width: 264px;
  }

  .config-section__right {
    max-width: 465px;

    .picture {
      padding-top: calc(234 / 464 * 100%);
    }
  }

  .footer-top__title {
    font-size: 16px;
    line-height: 20px;
  }

  .footer-top__text {
    width: calc(70% - 75px);
  }

  .footer-top__form {
    width: calc(30% + 77px);
  }

  .footer-menu {
    gap: 45px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .footer-top__inner {
    padding: 20px 0;
  }

  .footer-menu__col:nth-child(2) ul {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    padding: 20px 0;
  }

  .footer-center__inner {
    .logo {
      flex: 1;
      min-width: 80px;
    }

    .btn {
      min-width: 120px;
    }
  }

  .developers {
    transform: translateY(-3px);
  }

  .developers__icons {
    width: 45px;
    height: 20px;

    svg {
      width: 45px;
      height: 20px;
    }
  }

  .footer-menu__link {
    font-size: 14px;
    line-height: 16px;
  }

  .footer-center {
    padding: 20px 0;
  }

  .footer-menu__col ul {
    text-align: center;
  }

  .footer-menu__title {
    margin-bottom: 8px;
  }
}
