@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }

  .main {
    padding-top: 45px;
  }

  .header-inner {
    padding: 11px 0;
  }

  .logo {
    width: 67px;
    height: 23px;
    order: 2;
    margin-left: auto;
    transform: translateX(30px);
  }

  .menu {
    right: auto;
    left: 0;
  }

  .burger {
    order: 1;
    margin: 0;
  }

  .header-controls {
    gap: 10px;
    order: 3;
    flex-direction: row-reverse;

    .btn-phone {
      display: flex;
    }

    .link-phone {
      display: none;
    }

    .btn {
      display: none;
    }
  }

  h1,
  .caption--h1 {
    font-size: 40px;
    line-height: 38px;
  }

  .grettings-section {
    padding: 16px 0;
  }

  .grettings__body {
    width: 100%;
    min-height: initial;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .grettings {
    width: 100%;

    .caption {
      width: 100%;
    }

    .picture {
      position: relative;
      width: 100%;
      height: auto;
      padding-top: calc(272 / 358 * 100%);
      margin: 16px 0;
    }
  }

  .grettings__text {
    width: calc(100% - 130px);
    margin: 0;
    display: flex;
    align-items: flex-start;
    padding-right: 20px;
    max-width: 100%;
    margin-right: auto;
  }

  .grettings__controls {
    width: 110px;
    max-width: 110px;
  }
}
