@media (max-width: 1023px) {
  .catalog-section__links {
    width: 35%;
  }

  .catalog-section__catalog {
    width: 65%;
  }

  .product-action__controls {
    left: calc(100% - 45px);
  }

  .product-action .picture.small {
    left: calc(100% - 45px);
  }

  .slider-product-images .swiper-slide-next + .swiper-slide .picture {
    transform: translateX(calc(-50% - 62px));
  }

  .slider-product-images .picture {
    right: calc(100% - 111px);
  }

  .blog-list .blog-item:first-child .picture {
    padding-top: calc(540 / 534 * 100%);
  }

  .catalog-products__list {
    padding-left: 225px;
    width: 730px;
  }

  .about-head__col p {
    max-width: 345px;
  }

  .filter-catalog {
    left: calc(50% - 372px);
  }
}
