@media (max-width: 1439px) {
  .product-action__controls {
    left: calc(100% - 10px);
  }

  .product-action .picture.small {
    left: calc(100% + 20px);
  }

  .catalog-products__list {
    width: 960px;
  }

  .caption-h1--small {
    font-size: 45px;
    line-height: 50px;
  }

  .product-list .catalog-main-item .picture {
    height: auto;
    padding-top: calc(342 / 609 * 100%);
  }

  .filter-catalog {
    left: calc(50% - 615px);
  }

  .filter-catalog.sticky .filter-catalog-inner {
    left: calc(50% - 615px);
  }

  .filter-catalog.sticky.sticky--bottom .filter-catalog-inner {
    left: 0;
  }

  .pdf-page .container {
    max-width: 1200px;
  }

  .stock-item .caption{
    min-height: 40px;
  }

  .marquee-section__block {
    font-size: 14px;
  }
}
