@media (max-width: 1899px) {
  .catalog-products__list {
    width: calc(100% - 236px);
    margin-left: auto;
  }

  .filter-catalog {
    left: calc(50% - 686px);
  }

  .filter-catalog.sticky .filter-catalog-inner {
    left: calc(50% - 686px);
  }

  .filter-catalog.sticky.sticky--bottom .filter-catalog-inner {
    left: 0;
  }
}

@media (max-width: 1799px) {
  .catalog-links-invis {
    display: none;
  }
}

