@media (max-width: 1023px) {
  .catalog-section__links {
    width: 35%;
  }

  .catalog-section__catalog {
    width: 65%;
  }

  .product-action__controls {
    left: calc(100% - 45px);
  }

  .product-action .picture.small {
    left: calc(100% - 10px);
  }

  .blog-list .blog-item:first-child .picture {
    padding-top: calc(540 / 534 * 100%);
  }

  .catalog-products__list {
    padding-left: 225px;
    width: 730px;
  }

  .about-head__col p {
    max-width: 345px;
  }

  .filter-catalog {
    left: calc(50% - 372px);
  }

  .filter-catalog .filter-catalog-inner {
    left: calc(50% - 372px);
  }

  .filter-catalog.sticky .filter-catalog-inner {
    left: calc(50% - 372px);
  }

  .filter-catalog.sticky.sticky--bottom .filter-catalog-inner {
    left: 0;
  }

  .slider-product-images .picture {
    height: 100px;
    width: 124px;
  }

  .black-friday__inner {
    height: auto;
    padding-top: calc(105 / 400 * 100%);
  }

  .pdf-page .container {
    max-width: 725px;
  }

  .pdf-tabs {
    width: 250px;
  }

  .pdf-page.openedTabs .container {
    width: calc(100% - 300px);
    max-width: 100%;
  }

  .product-action__content .btn-add-favorite {
    right: -143px;
  }

  .header-line {
    & > strong {
      display: block;
    }

    span {
      display: block;
    }
  }

  .saloins-item__body {
    padding: 8px 22px;
  }

  .saloins-item__head::before {
    left: 21px;
  }

  .saloins-item__head {
    padding: 16px 58px;
  }
}
