@media (max-width: 479px) {
  .product-list {
    .catalog-main-item__size,
    .catalog-main-item__brand,
    .catalog-main-item__name {
      max-width: 320px;
    }
  }

  .black-friday__inner {
    padding-top: calc(160 / 400 * 100%);
  }
}

@media (max-width: 419px) {
  .catalog__links a {
    font-size: 24px;
    line-height: 30px;
    padding: 12px 0;

    &::before {
      width: 40px;
      height: 40px;
      background-size: 8px;
    }
  }
}

@media (max-width: 389px) {
  .product-list {
    .catalog-main-item__size,
    .catalog-main-item__brand,
    .catalog-main-item__name {
      max-width: 250px;
    }
  }

  .slider-design .swiper-slide.swiper-slide-active .main-design {
    width: 205px;
  }

  .slider-design .swiper-slide.swiper-slide-next + .swiper-slide .main-design {
    margin-left: -80px;
  }

  .slider-design {
    width: 205px;
    margin: 25px 0 0 0;
  }

  .subscribe-section__content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
  }

  .main-designer__name {
    font-size: 40px;
    line-height: 42px;
    max-width: 152px;
  }

  .catalog-main-item__price {
    gap: 8px;
    font-size: 14px;
    margin-top: 7px;
  }

  .form-manager__form .input-list {
    width: 55%;
  }
}
